/vendor
/node_modules
.env
*.DS_Store
storage
.idea/
/public/UI/bower_components
/nbproject
.vscode/
public/css/app.css
.history/
*.swp
tags

.phpunit.result.cache
/build
.php-cs-fixer.cache
.php_cs.cache

*.iml
